// https://getbootstrap.com/docs/4.0/getting-started/theming/
// Your variable overrides, e.g.
// $body-bg: #000;
// $body-color: #111;

// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";

// Custom scss

.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

button#login {
  width: 100%;
}

.container {
  max-width: 960px;

  form.modifyReport {
    width: 100%;
  }
}

.main {
  padding-top: 2em;

  h1 {
    margin-bottom: 1rem;
  }

  div#create-report {
    margin-top: auto;
    margin-bottom: 1rem
  }
}

.btn.btn-space {
  margin-top: 0.75em;
}
.btn.btn-wide {
  padding-left: 2em;
  padding-right: 2em;
}

form .section-header {
    margin-bottom: $form-group-margin-bottom;
}

.report-preview {
  .container {
    padding: 0px 30px 0px 30px;
  }

  h1 {
    margin-top: 32px;
    margin-bottom: 64px;
    text-align: center;
  }
  .front-page-info {
    margin-bottom: 64px;
    padding: 0px 30px 0px 30px;
  }
  .cover-sub-title {
    font-weight: bold;
  }
  .new-page {
    page-break-before: always;
  }
}
